html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(87, 44, 20), rgb(165, 87, 42));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1 {
    font-size: 500%;
    color: goldenrod;
    text-shadow: 2px 2px 4px black ;
}
a {
    display: block;
    width: 200px;
    background-color: chocolate;
    text-decoration: none;
    padding: 2% 2%;
    color: rgb(238, 222, 222);
    border-radius: 10px;
    border: solid rgb(107, 65, 3) 1px;
}
a:hover {
    transform: scale(1.2);
}


